.login-container {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 640px;
  min-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

/* .login-background {
  height: 100%;
  width: 100%;
  background-color: #4869B2;
}  */

#left-box {
  background-color: #71B6FA;
  border-radius: 25px 0px 0px 25px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

#right-box {
  background-color: #FFF;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

#app-logo {
  max-width: 40%;
  max-height: 7%;
  margin-top: 5%;
  margin-left: 7%;
}

#example-img {
  max-width: 90%;
  max-height: 60%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: auto;
}

#login-display-text {
  font-family: 'Poppins';
  font-style: normal;
  margin-bottom: 1rem;
  padding-left: 45px;
  font-size: 22px;
  line-height: 95%;
  text-align: left;
  letter-spacing: -0.045em;
  color: #000;
  max-width: 295px;
}

#login-title {
  font-family: 'Poppins';
  font-style: normal;
  margin-bottom: 1rem;
  font-size: 38px;
  color: #000;
  letter-spacing: -0.045em;
  line-height: 95%;
  padding: 10%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

#password,
#username,
textarea {
  font-family: 'Poppins';
  font-size: 14px;
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: inline-block;
  max-width: 250px;
  margin-left: 10%;
  margin-bottom: 5%;
  border: 1px solid #002F94;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}

#user-pwd {
  color: #000;
  padding-left: 11%;
  padding-top: 3%;
}

#login-btn {
  margin-top: 2rem;
  background-color: #FF5E43;
  color: #FFF;
  cursor: pointer;
  max-width: 250px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 11px;
  border-style: none;
  padding: 0.5rem;
  margin-left: 10%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

#forgetpassword {
  font-size: 10px;
  font-weight: 300;
  color: #555555;
  float: right;
  font-family: 'Poppins';
  opacity: 0.8;
  padding-right: 12%;
}

.eye-main {
  position: absolute;
  color: #000;
  margin-left: 40%;
  margin-top: 11.5%;
}

.input-feedback {
  color: #FF0000;
  margin-left: 13%;
  font-style: italic;
  font-size: 12px;
  margin-top: -5%;
}

#admin-toggle {
  margin-left: 10%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 10%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}