.chart-background {
    border-radius: 30px;
    -webkit-box-shadow: 2px -5px 18px -8px #000000; 
    box-shadow: 2px 3px 18px -8px #000000;
    padding: 10px;
}

.myChart {
    width: 560px;
    height: 280px;
}