.chart-background {
    border-radius: 30px;
    -webkit-box-shadow: 2px -5px 18px -8px #000000; 
    box-shadow: 2px 3px 18px -8px #000000;
    padding: 10px;
}

.myChart {
    width: 560px;
    height: 280px;
}

.monitor-bottom {
    display: flex;
}

.event-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 20px;
    font-size: 18px;
    width: 300px;
    height: 70px;
}

.event-label {
    display: flex;
    justify-content: center;
}

.event-counter {
    display: flex;
    justify-content: center;
}

.monitor-button-div {
    display: flex;
    margin-left: auto; 
    margin-right: 0;
}

.filter-div .export-div {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 50px;
}

.monitor-button {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
    width: 150px;
    height: 70px;
    cursor: pointer; 
}