.monitor-data {
    background-color: #FFF;
    display: flex;
}

.monitor-container {
    flex: 7;
}

.Monitor-msg {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    margin: 20px;
}

.center-container {
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

.left {
    flex: 2;
}

.search-container {
    background: rgba(72, 105, 178, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 40px;
    padding: 20px;
    min-height: 70vh;
    max-height: 70vh;
    white-space: nowrap;
    overflow-y: scroll;
    text-overflow: ellipsis;
}
.search-container::-webkit-scrollbar {
    display: none;
}

.search-bar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 100%;
    height: 70px;
    padding-left: 40px;
    font-size: 22px;
}

.search-icon {
    color: #9F9F9F;
    position: absolute;
    left: 28%;
    margin-top: 0.8%;
}

.graph_searched {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 22px;
    background: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 30px;
    width: 100%;
    height: 70px;
}

.graph_searched:hover, .graph_searched:active{
    background: rgba(72, 105, 178, 0.5);
}


.go-back {
    margin-top: 10px;
    color: #FFFFFF;
    background: #4869B2;
    border-radius: 8px;
    width: 114px;
    height: 42px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 42px;
}

.right {
    flex: 7;
}

.monitor-graph-container {
    background: rgba(72, 105, 178, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-right: 40px;
    padding: 20px;
    padding-left: 40px;
}

.graph-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

.monitor-center {}

.graph-displayed {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #FFFFFF;
}

.event-display {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-top: 10px;
    font-size: 18px;
    width: 300px;
    height: 80px;
}

.event-counter {
    display: flex;
    align-items: center;
}