.main-dashboard {
    display: flex;
    background-color: #FFFFFF;
}

.dashboard-container {
    flex: 7;
}

.welcome-msg {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 32px;
    display: flex;
}

.edit-dashboard {
    position: relative;
    left: 65%;
}

.edit-dashboard-btn {
    color: #F4F4F4;
    background-color: #4869B2CC;
    border-style: none;
    border-radius: 8px;
    width: 147px;
    height: 26px;
}

.charts {
    display: flex;
    margin-top: 2.5%;
    padding-left: 1.5%;
    gap: 1.5%;
    height: 295px;
}

.notification-dashboard {
    padding-left: 20px;
}

/* #edit-dashboard {
    float: right;
    color: #F4F4F4;
    background-color: #4869B2CC;
    border-style: none;
    border-radius: 8px;
    width: 147px;
    height: 26px;
    text-align: center;
    margin-top: -720px;
    margin-right: 20px;
    

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
 */