/* .SetThreshold-page {
    background-color: #FFF;
    display: flex;
}

.SetThreshold-container {
    flex: 7;
}

.SetThreshold-msg {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 57px;
    margin: 40px;
}

.set-threshold-value {
    border-collapse:collapse;
    border-spacing:0;
    width: 40%;
    margin: 40px;
}

.confirm-threshold {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 10%;
}

.confirm-btn{
    width: 100px;
    height: 35px;
    font-size: 18px;
    background: #FF452C;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    margin-top: 20px;
    margin-right: 200px;
} */