.alertnotifcation {
    border: 1px solid #FF6A6A;
    width: 763px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.alert-icon {   
    height: 48px;
    background-color: #FF6A6A;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    color: #FFFFFF;
}

.alert-message {
    padding-left: 3%;
    display: flex;
    align-items: center;
    width: 100%;
}

.cancel-icon {
    margin-left: 5%;
    color: #D9D9D9;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.alert-time {
    padding-left: 28%;
    font-size: 12px;
    width:55%;
}