.navbar {
    height: 80px;
    background-color: #111;
    background: #4869B2;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2%;
    border-bottom: 0.5px solid black;
}

.warpper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    color: #FFF;
}
.light-dark {
    color: #FFF;
    display: flex;
    align-items: center;
}

.profile {
    display: block;
    width: 10%;
    font-size: 14px;
}

