.app.dark {
    color: rgb(156, 156, 156);

    .managetopic-container,
    .manageAcc-container,
    .admin-container,
    .main-dashboard,
    .monitor-data,
    .notification-log,
    .setting-page {
        background-color: #111;
        // color: rgb(156, 156, 156);
        color:#FFFFFF;

        .go-back {
            background-color: #999;
            color: #FFFFFF;
        }

        .monitor-graph-container,
        .notification-logs {
            background-color: grey;
        }

        .change-button,
        .new-kafkatopic,
        .manage-account,
        .monitor-button,
        .event-display {
            color: #FFFFFF;
            background-color: grey;
        }

        .add-account,
        .manage-kafka-topic-table,
        .manage-account-table,
        .graph_searched,
        .search-bar {
            color: #FFFFFF;
            background-color: grey;
            border-color: #333;
        }

        .search-bar::placeholder {
            color: #FFFFFF;
        }

    }

    .popup-inner {
        color: #FFFFFF;
        background-color: grey;
        border-color: #333;
    }

    .chart-background {
        background-color: #111;
        -webkit-box-shadow: 2px -5px 18px -8px grey; 
        box-shadow: 2px 3px 18px -8px grey;
    }

    .graph-displayed-dashboard {
        background-color: #111;
    }



    .sidebar,
    .top,
    .logo,
    .profile,
    .warpper,
    .light-dark,
    .navbar,
    .log-box {
        background-color: #111;
        color: #FFFFFF;
        border-color: #333;

        li:hover,
        li:active {
            background: grey;
        }
    }

    .logout-icon,
    .logout-btn,
    .edit-dashboard-btn {
        color: #FFFFFF;
        background-color: grey;
    }

    .alertnotifcation {
        border: 1px solid grey;

        .alert-icon {
            color: #FFFFFF;
            background-color: grey;
        }
    }
}