* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    min-height: 100vh;
    background-color: #4869B2;
  }

#app-logo1 {
    position: absolute;
    width: 136px;
    height: 29px;
    left: 232px;
    top: 48px;
  }

#reset-password-title {
  color : #585858;
  font-size: 14px;
  position: absolute;
  width: 132px;
  height: 25px;
  left: 252px;
  top: 95px;
}

#email-address {
  position: absolute;
  width: 154px;
  height: 24px;
  left: 102px;
  top: 160px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

#email {
  position: absolute;
  width: 402px;
  height: 35px;
  left: 100px;
  top: 180px;
  background: #F7F7F8;
  border-radius: 10px;
  padding: 15px;
  border-style: none
}

#forget-password-box {
  background-color: #FFF;
  width: 100%;
  height: auto;
  max-width: 630px;
  min-height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius:25px;
}

p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000;
}

#reset-password {
  position: absolute;
  width: 402px;
  height: 35px;
  left: 100px;
  top: 234px;

  background: #FF5E43;
  border-radius: 10px;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
}

#return-to-login {
  position: absolute;
  width: 402px;
  height: 35px;
  left: 100px;
  top: 274px;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}


