#forget-password-container {
  background-color: #FFF;
  width: 100%;
  height: auto;
  max-width: 640px;
  min-height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

#app-logo1 {
  position: absolute;
  width: 136px;
  height: 29px;
  top: 12%;
}

#reset-password-title {
  color: #585858;
  font-size: 12px;
  position: absolute;
  width: 132px;
  height: 25px;
  margin-left: 6%;
  top: 20%;
}

#email-address {
  position: absolute;
  width: 154px;
  height: 24px;
  left: 19%;
  top: 160px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #000;
}

#email {
  position: absolute;
  width: 63%;
  height: 35px;
  left: 19%;
  top: 180px;
  background: #F7F7F8;
  border-radius: 10px;
  padding: 15px;
  border-style: none
}

#reset-password {
  position: absolute;
  width: 63%;
  height: 35px;
  left: 19%;
  top: 294px;

  background: #FF5E43;
  border-radius: 10px;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
}

#return-to-login {
  position: absolute;
  width: 63%;
  height: 35px;
  left: 19%;
  top: 274px;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

.input-error {
  color: #FF0000;
  position: absolute;
  font-style: italic;
  font-size: 12px;
  left: 20%;
  top: 214px;
  max-width: 203px;
}